.matchmaking-bg {
    /* background: linear-gradient(135deg, #1e3c72, #2a5298); */
    
    min-height: 100vh;
  }
  
  .match-card {
    border-radius: 20px;
    transition: transform 0.3s ease;
    background-color: #fff;
  }
  
  .match-card:hover {
    transform: scale(1.03);
  }

  .profile-img {
    width: 160px;    /* or whatever size you want */
    height: 160px;
    object-fit: fill;   /* this makes the image not squish or stretch */
    border-radius: 50%;  /* makes it perfectly round */
    border: 3px ; /* nice blue border (optional) */
  }
  